/*main css*/

@import "media.css";
@import "avenir-next-lt-pro/style.css";

body {
  background: #c8cfdc;
  font-family: 'Roboto', sans-serif;
  transition: all .4s ease;
}
main {
  overflow: hidden;
}
.navbar-default .nav-center {
  font-size: 16px;
  /*margin-left: 20px;*/
}
.navbar-default .nav-center li a {
  cursor: pointer;
}
.navbar-default .nav-center li:hover {
  background: #2283b3;
  height: 5px;
}
.navbar-default .nav-center .bilets:hover {
  background: #744ec2;
  height: 5px;
}
.navbar-default .navbar-nav>li.bg-reg {
  background-color: #5222b3;
  transition: all .5s ease;
}
.navbar-default .navbar-nav > li.bg-reg > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li.bg-reg:hover {
  background: #353535;
}
.navbar-default .nav-center .bilets a {
  cursor: pointer;
  color: #744ec2;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}
.or {
  margin: 0 15px;
}
.main-content {
  background: rgba(250, 250, 250, 1);
  margin-top: 20px;
  padding-bottom: 1px;
}
.main-content:first-child {
  margin-top: 60px;
}
.main-content:nth-child(2) {
  padding: 5px;
}
.main-name {
  color: #202020;
  font-family: "AVENIR NEXT LT PRO HEAVY CONDENSED";
  font-size: 100px;
  font-weight: 900;
  line-height: 0.9;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.title-first, .title-second,
.title-third {
  color: #121212;
  font-weight: 600;
  line-height: .85;
}
.title-first {
  font-size: 60px;
}
.title-second {
  font-size: 42px;
  font-style: italic;
  /*letter-spacing: 1px;*/
}
p.title-second:last-child {
  border-bottom: 1px solid #202020;
  padding-bottom: 20px;
}
.title-third {
  font-size: 36px;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 400px solid transparent;
  border-left: 400px solid #d86830;
  border-bottom: 400px solid transparent;
  position: absolute;
  top: 17%;
  left: -5%;
  transition: all .8s ease;
}
.fa-map-marker {
  color: #222222;
}
.fa-5 {
  font-size: 7em;
  margin-bottom: 20px;
}
.error-message {
  color: #F22613;
}
.speakers {
  margin-top: 15px;
}
.speakers:last-child {
  margin-bottom: 15px;
}
.web {
  position: absolute;
  top: 10px;
  left: 27px;
  color: #f7f7f7;
}
.img-rounded + .web {
  position: absolute;
  top: 25px;
  left: 30px;
}
button.btn-speaker {
  border: 1px solid #ffffff;
  background: transparent;
  color: white;
  font: 100 14px 'Roboto';
}
button.btn-speaker:hover {
  background: #ffffff;
  color: black;
}
.show {
  height: 180px;
  /*overflow: hidden;*/
}
.show:hover .title-one {
  visibility: visible;
  top: -190px;
}
.title-one {
  width: 180px;
  height: 180px;
  background: rgba(131, 179, 34, .8);
  position: relative;
  color: white;
  visibility: hidden;
}
.title-one h4 {
  font-size: 18px;
  font-style: italic;
  padding-top: 40px;
}
.title-one p {
  padding-bottom: 5px;
}
.green, .violet, .blue, .fuksia {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.green {
  border: 1px solid #83b322;
}
.violet {
  border: 1px solid #b32283;
}
.violet > span {
  color: #b32283;
  font-size: 72px;
  font-weight: 500;
}
.blue {
  border: 1px solid #2283b3;
  color: #2283b3;
  font: 400 22px 'Roboto';
}
.fuksia {
  border: 1px solid #5222b3;
  color: #5222b3;
  font: 400 26px 'Roboto';
}
.day {
  font-size: 88px;
  color: #83b322;
  line-height: .9;
}
.month {
  color: #83b322;
  font-size: 36px;
  line-height: 1;
}
.bfm {
  color: #03060c;
  font-size: 26px;
  padding-top: 60px;
  padding-bottom: 5px;
}
.inter {
  display: flex;
  justify-content: center;
  /*padding-top: 100px;*/
}
.inter .btn-primary-2 {
  font-size: 30px;
}
.city, .date {
  color: #222222;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
}
.map {
  font-size: 24px;
  font-weight: 400;
  color: #222222;
}
.center-block {
  text-align: center;
  margin-bottom: 30px;
}
.speaker-name {
  font: 400 22px 'Roboto';
}
.theme {
  font: 300 24px 'Roboto';
  padding-bottom: 0;
  padding-top: 10px;
}
.schedule-bg {
  background: url("../img/bg.png") repeat-y;
}
.text-center.schedule {
  text-align: left;
}
.btn-default {
  font: 400 18px 'Roboto';
  margin-bottom: 0px;
}
.btn-marg {
  background: transparent;
  margin-top: 30px;
  margin-bottom: 90px;
}
.various {
  color:currentColor;
}
.btn-reg {
  font: 100 20px 'Roboto', sans-serif;
  background: #2283b3;
  border: 1px solid #2283b3;
  color: #ffffff;
  text-transform: uppercase;
}
.btn-primary-2 {
  font: 400 24px 'Roboto', sans-serif;
  background: #2283b3;
  border: 1px solid #2283b3;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: auto;
  margin-top: 30px;
}
.btn-primary-2 a {
  color: #f7f7f7;
  text-decoration: none;
}
.btn-primary-2.scheme {
  font-size: 16px;
  margin-bottom: 30px;
}
.scheme a:hover {
  color: #333;
}
.flex-left {
  display: flex;
  justify-content: flex-end;
}
.flex-right {
  display: flex;
  justify-content: flex-start;
}
.btn-primary-1 {
  font: 100 30px 'Roboto', sans-serif;
  color: #2283b3;
  background: #ffffff;
  border: 1px solid #2283b3;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: auto;
  margin-top: 40px;
}
.modal-title, .modal-footer, .modal-footer > button {
  font: 100 30px 'Roboto', sans-serif;
  text-align: center;
}
.second-page {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.schedule-bg img {
  align-self: flex-start;
}
.dream {
  color: #101010;
  font: 400 24px "Roboto";
  padding: 15px;
  text-align: left;
}
.profi {
  color: #353535;
  font: 500 30px 'Roboto';
  margin-bottom: 20px;
}
.profi .start {
  color: #d86830;
}
.slim-header {
  font: 300 48px 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
}
h3.slim-header {
  margin: 40px auto;
  margin-bottom: 20px;
}
h4.slim-header {
  font-size: 36px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.ave {
  font-size: 38px;
  font-family: 'Avenir Next LT Pro Bold Condensed';
}
.ave2 {
  font-size: 48px;
  font-family: 'Avenir Next LT Pro Heavy Condensed';
}
.consult > h3.slim-header {
  margin-top: 0;
}
.about-forum {
  /*background: #e5e5e5; /* Old browsers */
  /*background: -webkit-linear-gradient(#e5e5e5 0%, #ffffff 100%);*/
  /*background: -o-linear-gradient(#e5e5e5 0%, #ffffff 100%);*/
  /*background: linear-gradient(#e5e5e5 0%, #ffffff 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */*/
  color: #101010;
  font: 400 24px 'Roboto';
  padding: 35px;
  margin-top: -37px;
}
.about-forum .description {
  color: #2283b3;
  text-transform: uppercase;
}
.about-forum .effective {
  margin-top: 35px;
  list-style: none;
}
/*.about-forum .effective li:nth-child(odd) {
  margin-left: 15px;
}*/
.about-forum .effective i {color: #d86830;}
.square {
  border: 1px solid #2283b3;
  width: 100%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.square i {
  padding-top: 10px;
}
.white-header {
  color: white;
  font: 400 36px 'Roboto';
  padding-top: 15px;
}
.white {
  color: #101010;
  font: 400 30px "Roboto";
  padding-top: 80px;
  text-align: center;
}
.step {
  font: 400 24px "Roboto";
  list-style: none;
  text-align: left;
  margin-top: 30px;
}
.step li {
  padding-bottom: 15px;
}
.video-content {
  margin:0 auto 30px;
  max-width: 672px;
}
.video-content iframe {
  border: 2px solid #2283b3;
  max-width: 100%;
  padding: 15px;
}
.video-box-spiker{
  max-width: 560px;
  width: 100%;
}
.bg_about {
  background-image: url(../img/bg_about_forum.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 350px;
}
.bg_about .white-header {
  color: #f7f7f7;
  font: 500 36px "Avenir Next LT Pro Demi";
  margin-top: 55px;
  text-shadow: 3px 3px 3px rgba(30, 30, 30, 1);
}
.what-block {
  margin: 0 40px;
}
.what-block h2 {
  padding-bottom: 20px;
}
.text-about {
  font-family: 'Roboto', sans-serif;
  font-stretch: condensed;
  font-weight: 700;
  font-size: 17px;
  margin-top: 30px;
  text-decoration: underline;
}

::-webkit-input-placeholder {font: 300 16px 'Roboto';}
::-moz-placeholder          {font: 300 16px 'Roboto';}/* Firefox 19+ */
:-moz-placeholder           {font: 300 16px 'Roboto';}/* Firefox 18- */
:-ms-input-placeholder      {font: 300 16px 'Roboto';}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.speaker-list {
  background: rgba(235, 235, 235, 0.7);
  -webkit-box-shadow: 0px -5px 5px 0px rgba(53, 53, 53, .7);
  -moz-box-shadow: 0px -5px 5px 0px rgba(53, 53, 53, .7);
  box-shadow: 0px -5px 5px 0px rgba(53, 53, 53, .7);
}
.title-speakers {
  font: 300 30px 'Roboto';
  color: #2283b3;
}
.forum-sum {
  font: 400 30px 'Roboto';
  color: #2283b3;
  padding: 30px;
}
.center-speakers {
  margin-top: 40px;
}
.about-speakers div.row {
  margin-top: 20px;
}
.img-rounded {
  margin: 10px 0;
}
a.btn.btn-default {
  font: 400 20px 'Roboto';
  text-transform: uppercase;
  color: #353535;
}
.sidorenko2 {
  display: none;
}
div.modal-body {
  text-align: left;
}
.modal-about {
  font: 300 18px 'Roboto';
  padding: 15px;
}
.pointer {
  cursor: help;
}
.bottom-btn {
  margin: 10px auto 40px;
}
.img-round {
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 15px;
}
.color {
  background-image: url("<?php echo $spath; ?>img/bg.png");
  background-size: cover;
}
.reserv {
  display: flex;
  justify-content: center;
}
.btn-price {
  color: white;
}
.btn-price:hover {
  color: #f7f7f7;
  text-decoration: none;
}
.light {
  color: #cccccc;
}
.flex-row {
  display: flex;
  justify-content: space-between;
}
.cost {
  padding-top: 40px;
  padding-bottom: 30px;
  background: #fbf2df;
  text-align: center;
  margin: 0 0 30px 0;
  width: 100%;
  min-height: 418px;
  box-shadow: 0 5px 10px rgba(39, 45, 103, 0.11);
}
.online .backgrd {
  background: url("../img/tickets/online.png") 50% 50% no-repeat;
  background-size: contain;
  height: 120px;
}
.econ .backgrd {
  background: url("../img/tickets/econ.png") 50% 50% no-repeat;
  background-size: contain;
  height: 120px;
}
.stand .backgrd {
  background: url("../img/tickets/stand.png") 50% 50% no-repeat;
  background-size: contain;
  height: 120px;
}
.business .backgrd {
  background: url("../img/tickets/business.png") 50% 50% no-repeat;
  background-size: contain;
  height: 120px;
}
.vip .backgrd {
  background: url("../img/tickets/vip.png") 50% 50% no-repeat;
  background-size: contain;
  height: 120px;
}
.pricing {
  font: 600 40px 'Roboto';
  padding-top: 30px;
}
.line {
  width: 134px;
  height: 1px;
  background: #000000;
  margin: 6px auto;
}
.content-border {
  border: 10px solid rgba(34, 131, 179, 0.7);
  margin-left: 20px;
  margin-right: 20px;
  height: 462px;
}
.content-border > h3 {
  color: rgba(34, 131, 179, 1);
  font: 500 36px 'Roboto';
  border-bottom: 1px solid #a1a2aa;
  padding-bottom: 10px;
}
.modal-cost {
  border-top: 1px solid #a1a2aa;
  color: rgba(34, 131, 179, 1);
  padding-top: 5px;
  position: absolute;
  width: 250px;
  bottom: 5px;
}
.prices {
  font-size: 18px;
}
.slide-button {
  width: 253px;
  background: #f5e7cb;
  border-radius: 5px;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.3);
  border: 0;
  line-height: 33px;
  font-size: 24px;
  padding: 10px 15px;
  margin-top: 19px;
  text-transform: uppercase;
  cursor: help;
}
.slide-button:hover {
  background: #eeddb8;
  opacity: .9;
}
.present-button {
  background: #744ec2;
  border-radius: 5px;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.3);
  border: 0;
  color: white;
  cursor: help;
  line-height: 33px;
  font-size: 24px;
  padding: 10px 15px;
  margin-top: 19px;
  text-transform: uppercase;
}
.present-button:hover,
.present-button:active {
  background: #a890d9;
}
.present-button:focus {
  background: #744ec2;
}
.schedule {
  font-size: 16px;
  color: #353535;
  text-transform: uppercase;
}
.schedule p {
  text-transform: none;
}
.table>tbody>tr>td:first-child {
  border-right: 1px solid #ddd;
}
table.table {
  margin-bottom: 0;
}
.free-consult {
  border: 4px solid #d86830;
  font: 400 36px 'Roboto';
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
}
.consult {
  background: #ebebeb;
  border: 1px solid #d86830;
  color: #222222;
  padding: 40px;
  margin: 20px;
}
.consult p {
  color: #353535;
  font: 400 24px 'Roboto';
  width: 65%;
  margin: 0 auto;
  padding: 15px 0;
}
.consult ul li {
  font-size: 18px;
  /*list-style: none;*/
  text-align: left;
  margin: 0 auto;
  width: 65%;
}
.modal-button {
  text-align: center;
  padding-bottom: 15px;
}
.modal-button a {
  color: #ffffff;
  font: 300 20px 'Roboto';
  text-transform: uppercase;
}
.btn-more {
  display: block;
  padding-top: 20px;
}
.video-btn {
  padding: 10px 20px;
  background: #0099CC;
  border: none;
  border-radius: 4px;
  color: white;
  animation: attention 8s ease infinite;
}

@keyframes attention {
  9% {
    transform: none;
  }
  12% {
    transform: scale(1.05);
  }
  16% {
    transform: scale(0.95);
  }
  20% {
    transform: scale(1.03);
  }
  24% {
    transform: scale(1);
  }
}
.present {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(151, 122, 209);
  text-align: center;
  /*margin: 0 0 30px 0;*/
  width: 100%;
  min-height: 418px;
  box-shadow: 0 5px 10px rgba(39, 45, 103, 0.11);
}
.present h3 {
  color: white;
  font: 600 36px 'Roboto';
}
.present h4 {
  color: white;
  font: 300 30px 'Roboto';
}
.present b {
  font-size: 40px;
  color: white;
  /*rgb(216,62,48);*/
}
.present_sale {
  color: #f7f7f7;
  font: italic 400 20px "Roboto";
}
.modal-content {
  background: #f7f6f5;
}
.modal-lg .modal-title {
  padding-bottom: 15px;
}
.bilet {
  color: white;
  font: 400 24px 'Roboto';
  padding: 0 20px;
}
.bg-white {
  background: white;
  padding-bottom: 30px;
}
.bg-white h3 {
  padding-bottom: 30px;
}
.w-inline-block {
  display: block;
  padding-left: 50px;
  padding-bottom: 30px;
}
.bfm-img:hover,
.w-inline-block:hover {
  opacity: .8;
}

/*Footer*/

.footer-row {
  background: #0c0d0d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
      -ms-flex-pack: justify;
        justify-content: space-around;
  min-height: 20em;
  height: auto;
  margin-top: 20px;
}
.footer-row > .footer-brand > img,
.footer-row > .footer-nav {
  margin: 40px 0 0 50px;
}
.footer-row > .footer-nav > li {
  padding-bottom: 10px;
  list-style: none;
}
.footer-row > .footer-nav > li > a {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.143em;
  color: rgb(102, 102, 102);
  text-align: left;
  text-transform: uppercase;
}
.footer-row > .footer-nav > li > a:hover {
  color: #0089cf;
}
.footer-row > .footer-copy {
  align-self: flex-end;
  margin-bottom: 2.143em;
}
.footer-row > .footer-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  order: 1;
}
.footer-row > .footer-social > .svg-icon {
  border-width: 1px;
  border-color: rgb(102, 102, 102);
  border-style: solid;
  width: 3.429em;
  height: 3.429em;
  margin-top: 2.857em;
  margin-right: 0.714em;

}
.footer-row > .footer-social .icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
      -ms-flex-pack: justify;
          justify-content: center;
          align-items: center;
  width: 3.429em;
  height: 3.429em;
}
.footer-row > .footer-social > .svg-icon:hover {
  border-color: white;
  transition: all .4s ease;
}
.mfp-close {
  position: absolute;
  top: 2.142em;
  right: 10%;
  cursor: pointer;
  border: 0;
  background: transparent;
  padding: 0.714em;
  color: #333333;
}
.text-center.info {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}
.video-link-popup {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #2283b3;
}
.trans {
  background: #cccccc;
  border: 1px solid #aaaaaa;
  color: #000;
  font: 400 30px 'Roboto';
  padding: 30px 0;
  margin: 30px 0;
}

/*back-to-top*/

#back-top {
  position: fixed;
  bottom: 30px;
  margin-left: 40px;
  z-index: 999;
}
#back-top a {
  width: 88px;
  display: block;
  text-align: center;
  font: 14px/100% 'Roboto', Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  color: #000;
}
/* arrow icon (span tag) */
#back-top span {
  width: 88px;
  height: 88px;
  display: block;
  margin-bottom: 7px;
  background: #eee url(../img/up-arrow.png) no-repeat center center;
  opacity: .7;
  /* rounded corners */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover span {
  background-color: #555;
  opacity: 1;
}

.iframe-theme {
  font-size: 18px;
  margin-bottom: 30px;
}
